# arquivos Python compilados
__pycache__/
*.pyc
*.pyo

# banco de dados SQLite
database.db

# ambiente virtual
venv/

# arquivos de cache do pytest
.pytest_cache/

# arquivos de configuração do VSCode
.vscode/

# logs e arquivos temporários
*.log
*.tmp

# histórico de execução do IPython
.ipynb_checkpoints/

# arquivos de lock e dependências
pip-log.txt
pip-delete-this-directory.txt
poetry.lock
Pipfile.lock